.header {
	background:linear-gradient( #2B1E66,#76278F); 
	height: 100vh;
}

#logo2{
	width: 13em;
	height: 13em;
	margin-top: 13em;
	margin-left: 4em;
	
}
.start{
	background-image: url(../images/fondo.jpg);
	height:100vh;
	background-size: cover;
	width: 100%;
}
.logo3{
	height: 5em;
	margin-left: 7em;
	margin-top: 1em;
}
.logo{
	width: 20em;
	margin-top: 6em;
	margin-left: 1.1em;
}	
.btn{
	color:white;
	border-color: white;
}
#btn-1{
	margin-left: 2.3em;
	margin-right: 8em;
	margin-top: 10em;
}
#btn-2{
	margin-top: 10em;
}
#arrow{
	margin-top: 2em;
}
.signUp{
	margin-left: 7em;
	font-size: 20px;
}
.join{
	margin-left: 5em;
}
.send{
	margin-left: 2em;
}
#next{
	margin-left: 1em;
	width: 19em;
	background-color: #FF1493;
}
.phoneNumber{
	margin-left: 2.3em;
	font-size: 26px;
}
.freeCredit{
	margin-left:2.4em;
	font-size: 19px;
}
hr{
	margin-left: 1em;
}
.lab{
	margin-left:7.7em;
	text-transform: uppercase;
}
#lines{
	color: #483D8B;
}
.sent{
	margin-left: 4em;
}
#resend{
	margin-left: 7em;
	margin-bottom: 8em;
}
#following{
	margin-left: 3.5em;
	width: 17em;
}

#check{
	margin-left:2.4em; 
}
#comming{
	margin-left: 1em;
	width: 19em;
	margin-top: 5em;
}